body{
    background-color: blanchedalmond;
    margin: 0px;
}

h1{
    display: flex;
    justify-content: center;
}

ul{
    background-color: aliceblue;
    border: 1px solid rgb(32, 1, 1);
    border-top: 0;
    margin: 0;
    padding: 0;
}

button{
    padding: 10px 30px;
    background-color: skyblue;
    border: none;
    color: white;
}

.backpage{
    box-shadow: 1px 4px 0 rgb(0,0,0,0.5);
}

.side-bar { display: block !important; }

#print{
    display: none;
}

#side-title {
    display: flex;
    justify-content: center;
}

#side-bar-sub {
    display: block;
    float: left;
    margin: 65px 0px 200px 0px;
    width: 200px;
    height: 390px;
    background-color: #44c1f3;
}


.buttonbox{
    margin-top: 50px;
    display: flex;
    justify-content: space-around;
}

.button{
    width: 100px;
    height: 30px;
    display: inline-block;
}

button.load{
    margin: 0px auto;
    display: flex;
    justify-content: space-around;
}

#wrap{
    float: none;
}

.answer {
    background-color: aquamarine;
    width: 350px;
    height: 400px;
    margin: 20px auto;
    overflow-y: scroll;
}

.question {
    margin: 50px auto;
    display: flex;
    justify-content: space-around;
}

.request{
    display: flex;
    justify-content: center;
    margin: 10px auto;
}

/*   메인 화면 사이즈   */

.main-content {
    background-color: aquamarine;
    width: 800px;
    height: 400px;
    margin: 20px auto;
}

.main-content>div {
    background-color: blue;
    display: flex;
}

.main-content>div>div {
    background-color: rgb(40, 115, 177);
    width: 400px;
    height: 200px;
    display: flex;
    flex-direction: row;
}

.radio-box{
    height: 50px;
    width: 800;
    margin: 100px auto;
    display: flex;
    justify-content: center;
}

.radio-box>p {
    margin: 0px;
    width: 90px;
}

input.radiosub{
    margin-top: 5px;
    height: 15px;
    width: 15px;
}


/*  페이지 연결  */

.page1{
    background-image: url(../img/webtoon.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
.page2{
    background-image: url(../img/webtext.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
.page3{
    background-image: url(../img/movie.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
.page4{
    background-image: url(../img/drama.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}