body{
    background-color: blanchedalmond;
}

.container{
    background-color: aliceblue;
}

.question {
    width: 350px;
    margin: 20px auto;
}

.button{
    display: inline-block;
}

.answer {
    background-color: aquamarine;
    width: 350px;
    height: 400px;
    margin: 20px auto;
    overflow-y: scroll;
}