.question {
    width: 350px;
    height: 10px;
    margin: 20px auto;
    padding: 10px;
    align-self: end;
}
.button{
    display: flex;
    justify-content: flex-end;
}

.answer {
    width: 350px;
    height: 400px;
    margin: 20px auto;
    padding: 10px;
}